* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url("../bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  font-family: roboto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
  height: 3rem;
  //   background-color: #ffcc29;
  a {
    text-decoration: none;
    color: rgb(25, 110, 8);
    font-weight: 800;
    font-size: 2rem;
    text-transform: capitalize;
  }
  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    a {
      font-family: roboto;
      text-transform: uppercase;
      text-decoration: none;
      color: rgb(25, 110, 8);
      font-weight: 700;
      font-size: 1rem;
      &:hover {
        border-bottom: 2px solid rgb(25, 110, 8);
      }
    }
    li:nth-child(1) a {
      border-bottom: 2px solid rgb(25, 110, 8);
    }
  }
}
header {
  position: absolute;
  top: 35%;
  left: 10rem;
  h1 {
    font-size: 3.5rem;
    color: rgb(25, 110, 8);
  }
  h1:nth-child(3) {
    margin-bottom: 1rem;
  }
  a {
    font-family: roboto;
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgba(255, 255, 0, 0.774);
    font-weight: 700;
    font-size: 2rem;
    color: rgb(25, 110, 8);
    padding: 0.3rem;
    border-radius: 5px;
  }
}
