* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
}
header {
  background-image: url("../bg1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  nav {
    z-index: 2 !important;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    background-color: #f54747;
    a {
      color: #343f56;
      text-decoration: none;
      font-size: 2rem;
    }
    ul {
      text-transform: uppercase;
      list-style: none;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      a {
        color: aliceblue;
        text-decoration: none;
        font-size: 1rem;
      }
    }
    .btn {
      color: rgb(255, 255, 255);
      text-decoration: none;
      font-size: 2rem;
      background-color: #343f56;
      border-radius: 0.6rem;
      padding: 0 0.6rem;
    }
  }
  .info {
    margin-top: 15%;
    margin-left: 10%;
    h3 {
      color: white;
      font-size: 1.5rem;
    }
    h1 {
      text-transform: capitalize;
      color: #fb9300;
      font-size: 3rem;
    }
    p {
      color: #343f56;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
    a {
      background-color: rgb(255, 255, 255);
      text-decoration: none;
      font-size: 2rem;
      color: #343f56;
      border-radius: 0.6rem;
      padding: 0 0.6rem;
    }
  }
}
